


#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#video-stream {
    width: 90vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vjs-big-play-button {
    position: relative !important;
}